# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

archive.zip
prostate.data.txt
TP_2_datset_mushrooms.csv
training_1.ipynb
training_2.ipynb
training_3.ipynb
Pelec_01_notebook_nettoyage_analyse exploratoire.ipynb
Pelec_02_notebook_tests_modeles.ipynb
test.ipynb
project_4_min_max_normalization.ipynb
winequality-red.csv
winequality-white.csv
2016-building-energy-benchmarking.csv.zip
2015-building-energy-benchmarking.csv.zip
pickle_data_cleaned.pkl
building_type.png
correlation_matrix.png
nan_values.png
neighborhood.png
property_type.png
random_forest_model.png
random_forest_model_energy_consumption.png
random_forest_model_real_predicted.png
random_forest_model_real_predicted_energy_consumption.png
regresive_model.png
regresive_model_real_predicted.png